# Ignore all, unignore files with ext, unignore directories.
# results in all files without extension (e.g. executables on Unix)
# will be ignored.
*
!*.*
!*/

# ignore build files and Windows executables
*.o
*.exe
*.x

*.stackdump
*.a
*.debug
.cookie
*.pyc
__pycache__
.coverage
.coveragerc
compile_flags.txt
*.obj
a.out
adventofcode.code-workspace
adventofcode.sublime-workspace
.vscode
*.swp
.idea
*.swo
.cookie*
\#*.*
*.dll
python/.flake8
python/.pre-commit-config.yaml
python/pyproject.toml
.cache
.*~undo-tree~
*~
venv
