*
!*/
!*.*
!.*
!Makefile
data
*.o
*.exe
*.stackdump
*.x
*.a
*.debug
.cookie
*.pyc
__pycache__
.coverage
.coveragerc
compile_flags.txt
*.obj
a.out
adventofcode.code-workspace
.vscode
*.swp
.idea
*.swo
.cookie*
\#*.*
*.dll
python/.flake8
python/.pre-commit-config.yaml
python/pyproject.toml
.cache
.*~undo-tree~
*~
