---
Checks:          'clang-analyzer-*,readability-redundant-*,performance-*,cppcoreguidelines-*'
WarningsAsErrors: 'clang-analyzer-*,readability-redundant-*,performance-*'
HeaderFilterRegex: '.*'
FormatStyle:     none
User:            user
